#material_list{padding:12px 10px 10px; width:1460px;}
#material_list .list{
	position:relative;
	margin:0 auto 25px;
	padding-bottom: 10px;
	
}
#material_list .list .item{
	width:350px; margin-right:15px; margin-bottom:15px; border:1px solid #ddd; background:#fff; float:left;
}

#material_list .one{padding-top:10px;}
#material_list .one div{width:320px; margin:0 auto;}
#material_list .one .title{height:22px; line-height:22px; overflow:hidden; font-size:14px;}
#material_list .one .img{width:100%; text-align:center; height:180px; line-height:180px; overflow:hidden; font-size:20px; color:#888; background:#ECECEC; margin-top:8px;}
#material_list .one .img img{width:100%}
#material_list .one .txt{line-height:150%; padding:5px 0; height:auto}
#material_list div.mod_del{width:100%; background:#F4F4F4; border-top:1px solid #ddd; padding:10px 0; height:24px;}
#material_list div.mod_del div{float:left; width:50%; text-align:center; height:18px; padding:3px 0;}
#material_list div.mod_del div.mod{width:50%;}
#material_list .multi .time{width:320px; margin:0 auto; padding-top:8px; height:20px; line-height:20px;}
#material_list .multi .first{width:320px; margin:0 auto; margin-top:8px; height:208px; position:relative; overflow:hidden; margin-bottom:10px;}
#material_list .multi .first .info{position:absolute; width:320px; overflow:hidden;}
#material_list .multi .first .info .img{text-align:center; height:180px; line-height:180px; font-size:20px; color:#888; background:#ECECEC;}
#material_list .multi .first .info .img img{max-width:320px; max-height:180px;}
#material_list .multi .first .info .title{height:28px; line-height:28px; overflow:hidden; text-indent:8px; color:#fff; background:#666; font-size:12px;}
#material_list .multi .other{border-top:1px solid #ddd; height:92px; overflow:hidden; position:relative;}
#material_list .multi .other .info{position:absolute; width:320px; left:10px; height:72px; padding:10px 0;}
#material_list .multi .other .info .title{width:240px; float:left; overflow:hidden;}
#material_list .multi .other .info .img{width:70px; height:70px; line-height:70px; overflow:hidden; text-align:center; float:right; overflow:hidden; border:1px solid #B2B8BD; background:#ECECEC; color:#C0C0C0;}
#material_list .multi .other .info .img img{max-width:70px; max-height:70px;}



#material{padding:12px 10px 10px;}
#material .list .item{width:350px; margin-right:15px; margin-bottom:15px; border:1px solid #ddd; background:#fff; float:left; zoom:1; overflow:hidden}
#material .list .multi .list .info{left:20px;}
#material .button{text-align:center; padding:35px 0; padding-left:35px; width:340px; height:32px;}
#material .multi .time{width:320px; margin:0 auto; padding-top:8px; height:20px; line-height:20px;}
#material .multi .first{width:320px; margin:0 auto; margin-top:8px; height:228px; position:relative; overflow:hidden; margin-bottom:10px;}
#material .multi .first .info{position:absolute; width:320px; overflow:hidden;}
#material .multi .first .info .img{text-align:center; height:180px; line-height:180px; font-size:20px; color:#888; background:#ECECEC;}
#material .multi .first .info .img img{max-width:320px; max-height:180px;}
#material .multi .first .info .title{height:28px; line-height:28px; overflow:hidden; text-indent:8px; color:#fff; background:#666; font-size:12px;}
#material .multi .first .control{position:absolute; width:320px; height:208px; padding-top:95px; text-align:center; overflow:hidden; background:#ddd; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity:0.7; opacity:0.7; display:none;}
#material .multi .list{border-top:1px solid #ddd; height:92px; overflow:hidden; position:relative;}
#material .multi .list .info{position:absolute; width:320px; left:10px; height:72px; padding:10px 0;}
#material .multi .list .info .title{width:240px; float:left; overflow:hidden;}
#material .multi .list .info .img{width:70px; height:70px; line-height:70px; overflow:hidden; text-align:center; float:right; overflow:hidden; border:1px solid #B2B8BD; background:#ECECEC; color:#C0C0C0;}
#material .multi .list .info .img img{max-width:70px; max-height:70px;}
#material .multi .list .control{position:absolute; width:340px; height:92px; padding-top:40px; text-align:center; background:#ddd; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity:0.7; opacity:0.7; display:none;}
#material .multi .add{text-align:center; border-top:1px solid #B2B8BD; padding:35px 0;}
#material .m_lefter{float:left; width:340px; overflow:hidden; border:1px solid #ddd; border-bottom:2px solid #ddd; background:#fff; margin-right:5px;}
#material .m_righter{float:left; width:365px; position:relative; border:none; background:#fff;}
#material .m_righter .input input{width:280px; height:28px; line-height:28px; border:1px solid #ddd; background:#F5F5F5; text-indent:3px; border-radius:5px;}
#material .m_righter .tips{font-size:12px; color:#888;}
#material .m_righter textarea{width:330px; height:80px; line-height:150%; border:1px solid #ddd; background:#F5F5F5; padding:4px; border-radius:5px; margin:8px 0px}
#material .m_righter .mod_form{position:absolute; height:190px; top:37px; width:365px; background:#fff;}
#material .m_righter .mod_form .jt{float:left; width:12px; height:150px; padding-top:40px; z-index:2; position:relative;}
#material .m_righter .mod_form .m_form{float:left; width:340px; margin-left:-1px; border:1px solid #ddd; background:#fff; padding:5px; z-index:1; position:relative;}
#material .m_righter select{height:32px; border:1px solid #ddd; padding:5px; width:300px; vertical-align:middle; border-radius:5px; margin-top:5px;}
#material .m_righter select *{width:300px; overflow:hidden;}
#material .blank6{margin:0px auto; clear:both; height:6px; font-size:1px; overflow:hidden;}
#material .blank9{margin:0px auto; clear:both; height:9px; font-size:1px; overflow:hidden;}
#material .input{padding:8px 0;}
#material .control_upload{padding:8px 0;}
#material .fc_red{color:#FF0000}

.material_dialog{ padding:12px 10px 10px}
.material_dialog .list .item{width:200px; margin-right:15px; margin-bottom:15px; border:1px solid #ddd; background:#fff; float:left; zoom:1;}
.material_dialog .one{padding-top:10px;}
.material_dialog .one div{width:170px; margin:0 auto;}
.material_dialog .one .title{height:22px; line-height:22px; overflow:hidden; font-size:14px;}
.material_dialog .one .img{width:200px; text-align:center; height:103px; line-height:103px; overflow:hidden; font-size:20px; color:#888; background:#ECECEC; margin-top:8px;}
.material_dialog .one .img img{max-width:200px; max-height:103x;}
.material_dialog .one .txt{height:28px; line-height:28px; padding:5px 0; overflow:hidden}
.material_dialog div.mod_del{width:200px; background:#F4F4F4; border-top:1px solid #ddd; padding:10px 0; height:20px; text-align:center}
.material_dialog .multi .time{width:200px; margin:0 auto; padding-top:8px; height:20px; text-indent:8px; line-height:20px;}
.material_dialog .multi .first{width:200px; margin:0 auto; margin-top:8px; height:128px; position:relative; overflow:hidden; margin-bottom:10px;}
.material_dialog .multi .first .info{position:absolute; width:200px; overflow:hidden;}
.material_dialog .multi .first .info .img{text-align:center; height:100px; width:200px; line-height:103px; font-size:20px; color:#888; background:#ECECEC;}
.material_dialog .multi .first .info .img img{max-width:200px; max-height:100px;}
.material_dialog .multi .first .info .title{height:28px; line-height:28px; overflow:hidden; text-indent:8px; color:#fff; background:#666; font-size:12px;}
.material_dialog .multi .list{border-top:1px solid #ddd; height:50px; overflow:hidden; position:relative;}
.material_dialog .multi .list .info{position:absolute; width:180px; left:10px; height:30px; padding:10px 0;}
.material_dialog .multi .list .info .title{width:140px; float:left; overflow:hidden;}
.material_dialog .multi .list .info .img{width:30px; height:30px; line-height:30px; overflow:hidden; text-align:center; float:right; overflow:hidden; border:1px solid #B2B8BD; background:#ECECEC; color:#C0C0C0;}
.material_dialog .multi .list .info .img img{max-width:30px; max-height:30px;}