<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>首页</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<div class="wtm-home-top fixed-Width">
  <header id="header" class="transparent">
    <div class="logo"></div>
    <div class="header-box"> <a href="html/search.html" class="header-inp"> <i class="icon"></i> <span class="search-input" id="keyword">请输入关键词</span> </a> </div>
    <div class="header-r"><a id="header-nav" href="html/member/chat_list.html"><i class="message"></i>
      <p>消息</p>
      <sup></sup></a></div>
  </header>
  <div class="cohesive"></div>
  <div class="show_list" id="main-container1"></div>
</div>
<div class="wtm-home-nav fixed-Width" id="ico_set">
</div>
<div class="wt-gd-body fixed-Width">
	<span><a href="html/article_list.html?ac_id=1">更多...</a></span>
    <img class="component-typewt-logo" src="images/gg_w.png" height="22" width="22">
    <div class="rollTextMenus" id="getgg"></div>
</div>
<div class="wtm-home-box" id="main-container2"></div>
<div class="fix-block-r"> <a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a> </div>
<footer id="footer"></footer>
<script type="text/html" id="getgg_tpl">
<% for (var i=0;i<article_list.length;i++) {%>
 <div id="rollTextMenu<%=i+1%>"  style="display: <% if (i==0) { %> block <% }else{ %>none<% } %>" > <a href="html/article_show.html?article_id=<%=article_list[i].article_id%>"><%=article_list[i].article_title%></a></div>
<% } %>
</script>
<script type="text/html" id="show_list">
		<div class="swipe-wrap">
		<% for (var i in item) { %>
			<div class="item">
				<a href="<%= item[i].url %>">
					<img src="<%= item[i].image %>" alt="">
				</a>
			</div>
		<% } %>
		</div>
</script> 
<script type="text/html" id="home1">
	<div class="wtm-home-block">
	<% if (title) { %>
		<div class="tit-bar"><span><%= title %></span></div>
	<% } %>
		<div class="item-pic">
			<a href="<%= url %>">
				<img src="<%= image %>" alt="">
			</a>
		</div>
	</div>
</script> 
<script type="text/html" id="home2">
	<div class="wtm-home-block">
	<% if (title) { %>
		<div class="tit-bar"><span><%= title %></span></div>
	<% } %>
		<ul class="item-pic-l1-r2">
			<li>
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
			</li>
		</ul>
	</div>
</script> 
<script type="text/html" id="home3">
	<div class="wtm-home-block">
	<% if (title) { %>
		<div class="tit-bar"><span><%= title %></span></div>
	<% } %>
		<ul class="item-pic-list">
		<% for (var i in item) { %>
			<li>
				<a href="<%= item[i].url %>"><img src="<%= item[i].image %>" alt=""></a>
			</li>
		<% } %>
		</ul>
	</div>
</script> 
<script type="text/html" id="home4">
	<div class="wtm-home-block">
	<% if (title) { %>
		<div class="tit-bar"><span><%= title %></span></div>
	<% } %>
		<ul class="item-pic-l2-r1">
			<li>
				<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</li>
		</ul>
	</div>
</script> 
<script type="text/html" id="home5">
	<div class="wtm-home-block style_lc">
	<% if (title) { %>
		<div class="tit-bar"><span><%= title %></span></div>
		<% if (stitle) { %>
		<div class="stit"><%= stitle %></div>
		<% } %>
	<% } %>
		<ul class="item-pic-l1-r2">
			<li>
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a><a href="<%= rectangle3_url %>"><img src="<%= rectangle3_image %>" alt=""></a>
			</li>
		</ul>
	</div>
</script>
<script type="text/html" id="home6">
	<div class="wtm-home-block style_lc">
	<% if (title) { %>
		<div class="tit-bar">
		<img src="<%= lcurl %>" alt="">
		<span><%= title %></span>
		<span class="stit"><%= stitle %></span>
		</div> 
	<% } %>
		<ul class="item-pic-w3">
			<li>
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
			</li>
		</ul>
	</div>
</script> 
<script type="text/html" id="home7">
	<ul>
	 <li><a href="<%= square_url %>"><span><i style="background:<%= square_ico_color %> url(<%= square_image %>) no-repeat 50% 50%;background-size:50% 50%;border-radius: 100%;"></i></span><p><%= square_ico_name %></p></a>
	  </li>
	  <li><a href="<%= rectangle1_url %>"><span><i style="background:<%= rectangle1_ico_color %> url(<%= rectangle1_image %>) no-repeat 50% 50%;background-size:50% 50%;border-radius: 100%;"></i></span><p><%= rectangle1_ico_name %></p></a>
	  </li>
	  <li><a href="<%= rectangle2_url %>"><span><i style="background:<%= rectangle2_ico_color %> url(<%= rectangle2_image %>) no-repeat 50% 50%;background-size:50% 50%;border-radius: 100%;"></i></span><p><%= rectangle2_ico_name %></p></a>
	  </li>
	  <li><a href="<%= rectangle3_url %>"><span><i style="background:<%= rectangle3_ico_color %> url(<%= rectangle3_image %>) no-repeat 50% 50%;background-size:50% 50%;border-radius: 100%;"></i></span><p><%= rectangle3_ico_name %></p></a>
	  </li>
	  <li><a href="<%= rectangle4_url %>"><span><i style="background:<%= rectangle4_ico_color %> url(<%= rectangle4_image %>) no-repeat 50% 50%;background-size:50% 50%;border-radius: 100%;"></i></span><p><%= rectangle4_ico_name %></p></a>
	  </li>
	  <li><a href="<%= rectangle5_url %>"><span><i style="background:<%= rectangle5_ico_color %> url(<%= rectangle5_image %>) no-repeat 50% 50%;background-size:50% 50%;border-radius: 100%;"></i></span><p><%= rectangle5_ico_name %></p></a>
	  </li>
	  <li><a href="<%= rectangle6_url %>"><span><i style="background:<%= rectangle6_ico_color %> url(<%= rectangle6_image %>) no-repeat 50% 50%;background-size:50% 50%;border-radius: 100%;"></i></span><p><%= rectangle6_ico_name %></p></a>
	  </li>
	  <li><a href="<%= rectangle7_url %>"><span><i style="background:<%= rectangle7_ico_color %> url(<%= rectangle7_image %>) no-repeat 50% 50%;background-size:50% 50%;border-radius: 100%;"></i></span><p><%= rectangle7_ico_name %></p></a>
	  </li>
	  <li><a href="<%= rectangle8_url %>"><span><i style="background:<%= rectangle8_ico_color %> url(<%= rectangle8_image %>) no-repeat 50% 50%;background-size:50% 50%;border-radius: 100%;"></i></span><p><%= rectangle8_ico_name %></p></a>
	  </li>
	  <li><a href="<%= rectangle9_url %>"><span><i style="background:<%= rectangle9_ico_color %> url(<%= rectangle9_image %>) no-repeat 50% 50%;background-size:50% 50%;border-radius: 100%;"></i></span><p><%= rectangle9_ico_name %></p></a>
	  </li>
	</ul>
</script> 
<script type="text/html" id="home8">
	<div class="wtm-home-block style_lc">
	<% if (title) { %>
		<div class="tit-bar">
		<img src="<%= lcurl %>" alt="">
		<span><%= title %></span>
		<span class="stit"><%= stitle %></span>
		</div> 
	<% } %>
		<ul class="item-pic-w4">
			<li>
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
			</li>
			<li>
				<a href="<%= rectangle3_url %>"><img src="<%= rectangle3_image %>" alt=""></a>
			</li>
		</ul>
	</div>
</script> 
<script type="text/html" id="goods">
	<div class="wtm-home-block item-goods">
	<% if (title) { %>
		<div class="tit-bar"><span><%= title %></span></div>
	<% } %>
		<ul class="goods-list">
		<% for (var i in item) { %>
			<li>
				<a href="html/product_detail.html?goods_id=<%= item[i].goods_id %>">
					<div class="goods-pic"><img src="<%= item[i].goods_image %>" alt=""></div>
					<dl class="goods-content">
						<dt class="goods-name"><%= item[i].goods_name %></dt>
						<dd class="goods-price">￥<em><%= item[i].goods_sale_price %></em></dd>
					</dl>
				</a>
			</li>
		<% } %>
		</ul>
	</div>
</script> 
<script type="text/html" id="goods1">
	<div class="wtm-home-block style_lc xianshi">
	<% if (title) { %>
	<div class="tit-bar"><span><%= title %></span></div>
	<% } %>
<div class="xianshi-list">
		<ul class="swipe-wrap">
		<% for (var i in item) { %>
			<div class="item">
			<li>
				<a href="html/product_detail.html?goods_id=<%= item[i].goods_id %>">
					<div class="goods-pic"><img src="<%= item[i].goods_image %>" alt=""></div>
					<dl class="goods-content">
						<dt class="goods-name"><%= item[i].goods_name %></dt>
						<dd class="goods-price">￥<em><%= item[i].xianshi_price %></em> <del>￥<%= item[i].goods_price %></del></dd>
						<dd class="goods-time">剩余<span class="time-remain" count_down="<%= item[i].time; %>"><em time_id="d"></em>天<em time_id="h"></em>:<em time_id="m"></em>:<em time_id="s"></em></span></dd>
					</dl>
				</a>
			</li></div>
		<% } %>
		</ul></div>
	</div>
</script> 
<script type="text/html" id="goods2">
	<div class="wtm-home-block item-goods">
	<% if (title) { %>
		<div class="tit-bar"><span><%= title %></span></div>
	<% } %>
		<ul class="goods-list">
		<% for (var i in item) { %>
			<li>
				<a href="html/product_detail.html?goods_id=<%= item[i].goods_id %>">
					<div class="goods-pic"><img src="<%= item[i].goods_image %>" alt=""></div>
					<dl class="goods-content">
						<dt class="goods-name"><em class="goods-group">抢购</em><%= item[i].goods_name %></dt>
						<dd class="goods-price">￥<em><%= item[i].goods_sale_price %></em></dd>
					</dl>
			</a>
				</li>
			
		<% } %>
		</ul>
	</div>
</script>
<script> var navigate_id ="1";</script>
<script type="text/javascript" src="js/config.js"></script> 
<script type="text/javascript" src="js/zepto.min.js"></script> 
<script type="text/javascript" src="js/template.js"></script> 
<script type="text/javascript" src="js/common.js"></script> 
<script type="text/javascript" src="js/swipe.js"></script> 
<script type="text/javascript" src="js/index.js"></script> 
<script type="text/javascript" src="js/html/footer.js"></script> 

</body>
</html>
