<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>免费领取店铺代金券</title>
<link rel="stylesheet" type="text/css" href="../css/common.css">
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/coupon.css">
</head>
<body>
<header id="header" class="fixed">
    <div class="header-box">
        <div class="header-l"><a href="javascript:history.go(-1)"><i class="back"></i></a></div>
        <div class="header-title">
        <h1>店铺代金券</h1>
		</div><div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
    </div>
    <div class="wtm-nav-box">
        <div class="wtm-nav-menu"> <span class="arrow"></span>
            <ul>
                <li><a href="../index.html"><i class="home"></i>首页</a></li>
                <li><a href="search.html"><i class="search"></i>搜索</a></li>
        <li><a href="product_first_categroy.html"><i class="categroy"></i>分类</a></li>
        <li><a href="cart_list.html"><i class="cart"></i>购物车<sup></sup></a></li>
        <li><a href="javascript:void(0);"><i class="message"></i>消息<sup></sup></a></li>
        <li><a href="member/member.html"><i class="member"></i>我的商城</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="wtm-main-box fixed-Width">
  <div class="wtm-tickets-list">
    <ul class="wtm-tickets" id="rplist">
    </ul>
      <ul class="wtm-tickets" id="vhlist">
      </ul>
  </div>
</div>
<div class="fix-block-r"> <a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a> </div>
<footer id="footer" class="bottom"></footer>

<script type="text/html" id="list_model1">
    <% if(voucher_list.length >0){%>

    <% for (var k in voucher_list) { var v = voucher_list[k]; %>
   
    <li class="ticket-item normal">
        <a class="get-voucher" id="get_voucher-<%=v.voucher_t_id;%>" onclick="getVoucher('<%=isLogin;%>', '<%=v.voucher_t_id;%>','<%=v.voucher_t_store_id;%>')">
            <div class="border-left"></div>
            <div class="block-center">
                <div class="store-info">
                    <div class="store-avatar"><img src="<%=v.voucher_t_customimg;%>" /></div>
                    <dl>
                        <dt class="store-name" title="<%=v.voucher_t_title;%>">[<%=v.voucher_t_storename;%>]<%=v.voucher_t_title;%></dt>
                        <dd><span class="big-price">¥<%=v.voucher_t_price;%></span> <span class="price-info">满<%=v.voucher_t_limit;%>元可用</span></dd>
						<dd><%=v.end_date;%></dd>
                    </dl>
                </div>
                <div class="ticket-info" id="ticket-info-<%=v.voucher_t_id;%>">
                    <% if(v.voucher_m_state == 3){%>
                    <i class="had"></i>
                    <div class="coupon-btn coupon-btn-yellow">去使用</div>
                    <%} else if(v.voucher_m_state == 4){%>
                    <i class="had"></i>
                    <div class="coupon-btn coupon-btn-yellow">已使用</div>
                    <%
                    } else {
                    %>
                    <div class="progress-bar"><span style="width:<%=v.voucher_t_progress;%>%"></span></div>
                    <div class="progress-text">已抢&nbsp;<%=v.voucher_t_progress;%>%</div>
                    <div class="coupon-btn">立即领取</div>
                    <% } %>

                </div>
            </div>
            <div class="border-right"></div>
        </a>
        </li>
        <%}%>
    <%
    }
    %>
</script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/wtscroll-load.js"></script>
<script type="text/javascript" src="../js/simple-plugin.js"></script>
<script>

    function getVoucher(state, voucher_id, store_id) {
        if(state == 1) {
            window.location.href = WapSiteUrl + '/html/member/login.html';
        } else if(state == 2) {

            var key = getCookie('key');
            $.ajax({
                url: ApiUrl + "/index.php?w=member_voucher&t=voucher_freeex&tid=" + voucher_id,
                type: 'get',
                data:{key:key},
                dataType: 'json',
                success: function(result) {
                    if(result.code == 400) {
                        $.sDialog({
                            skin:"opacity",
                            content: result.datas.error,
                            okBtn:false,
                            cancelBtn:false,
                            autoTime : 1700
                        });
                    } else {
                        $.sDialog({
                            skin:"opacity",
                            content: '领取成功',
                            okBtn:false,
                            cancelBtn:false,
                            autoTime : 1700
                        });

                        $('#get_voucher-' + voucher_id).attr('onclick', 'getVoucher(' +3 + ',' + voucher_id + ',' + store_id + ')');
                        $('#ticket-info-' + voucher_id).html('<i class="had"></i><div class="coupon-btn coupon-btn-yellow">去使用</div>');
                    }
                }
            });
        } else if(state == 3) {
            window.location.href = WapSiteUrl + '/html/store.html?store_id=' + store_id;
        }
    }

    $(function(){
        var key = getCookie('key');
		var tid = getQueryString('tid');
		if(!key){
			window.location.href = WapSiteUrl + '/html/member/login.html';
		}
		if(!tid||tid==''){
			alert('参数错误！');
			window.location.href = WapSiteUrl;
			return;
		}
        //渲染list
        $.ajax({
            url: ApiUrl + '/index.php?w=voucher&t=voucher_info&tid='+tid+'&key=' + key,
            type: 'get',
            dataType: 'json',
            success: function(result) {
				if(result.code == 200){
					var rpt_html = template.render('list_model1', result.datas);
					$('#vhlist').html(rpt_html);
				}else{
					alert(' '+result.datas.error);
					window.location.href = WapSiteUrl;
				}
			  }
        });
	});
</script>
</body>
</html>